.state{
        fill: none;
        stroke: black;
        stroke-width: 1;
    }
.color {
    height: 25px;
    width: 75px;
}

.box0 {
    background: grey;
}

.box1 {
    background: #b2182b;
}

.box2 {
    background: #ef8a62;
}

.box3 {
    background: #fddbc7;
}

.box4 {
    background: #d1e5f0;
}

.box5 {
    background: #67a9cf;
}

.box6 {
    background: #2166ac;
}

#tooltip {
        position: absolute;
        text-align: center;
        padding: 20px;
        margin: 10px;
        font: 12px sans-serif;
        background: lightsteelblue;
        border: 1px;
        border-radius: 2px;
        pointer-events: none;
    }
    #tooltip h4{
        margin:0;
        font-size:14px;
    }
    #tooltip{
        background:rgba(0,0,0,0.9);
        border:1px solid grey;
        border-radius:5px;
        font-size:12px;
        width:auto;
        padding:4px;
        color:white;
        opacity:0;
    }
    #tooltip table{
        table-layout:fixed;
    }
    #tooltip tr td{
        padding:0;
        margin:0;
    }
    #tooltip tr td:nth-child(1){
        width:50px;
    }
    #tooltip tr td:nth-child(2){
        text-align:center;
    }
    #worse { fill: #ca0020; }
    #bad { fill: #f4a582; }
    #ok { fill: #f7f7f7; }
    #good { fill: #92c5de; }
    #better { fill: #0571b0; }
